*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Roboto',sans-serif;
}

html{
    overflow-x:hidden;
}

.container{
    max-width:1000px;
    width:100%;
    margin:0 auto;
}

header > .container,
footer .container{
    justify-content:space-between;
    align-items:center;
    padding-bottom:16px;
}

header,
footer{
    background-color:#192a56;
    color:#fff;
    padding-top:16px;
}

header{
    position:sticky;
    top:0;
    left:0;
    z-index:1;
}

nav{
    background-color:#575cfc;
    padding:12px 0;
    display:none;
}

nav li{
    list-style:none;
    display:inline;
    margin-right:16px;
    font-size:15px;
    font-weight:bold;
    text-transform:uppercase;
}

nav li a{
    text-decoration:none;
    color:#fff;
}

.menu-hamburguer{
    width:32px;
    cursor:pointer;
}

.menu-hamburguer span{
    display:block;
    background-color:#fff;
    height:2px;
    margin-bottom:4px;
}

.container-flex{
    display:flex;
}

#about-store img{
    max-width:400px;
    margin-right:24px;
}

#about-store p{
    text-align:justify;
}

section{
    padding:48px 0;
}

section h2{
    margin-bottom:16px;
}

.lista-veiculos{
    flex-wrap:wrap;
}

.lista-veiculos li{
    list-style:none;
    max-width:30%;
    margin-bottom:24px;
}

.lista-veiculos li img{
    max-width:100%;
}

.lista-veiculos li h3{
    margin:16px 0;
}

.item-central{
    margin:0 5%;
}

.price{
    margin:16px 0;
    display:block;
}

button{
    display:block;
    width:100%;
    padding:8px 0;
    border:none;
    background-color:#119759;
    color:#fff;
    font-size:16px;
    font-weight:bold;
    font-style:italic;
    cursor:pointer;
    border-radius:6px;
}

.price del{
    color:#ccc;
    font-size:14px;
}

form{
    width:360px;
}

.form-campo{
    margin-bottom:16px;
}

.form-campo label{
    font-weight:bold;
    display:block;
}

.form-campo input,
.form-campo textarea{
    width:100%;
    padding:8px;
    display:block;
}

.form-campo textarea{
    resize:none;
    height:120px;
}

form button{
    max-width:120px;
}

footer li{
    list-style:none;
    margin-left:16px;
}

footer li img{
    height:32px;
}